body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    transition: background 0.3s, color 0.3s;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
}

#status {
    text-align: center;
    min-height: 20px;
}

button {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border: none;
    background-color: #1b1b32;
    color: #fff;
    border-radius: 5px;
}
 
.theme-purple {
    background: linear-gradient(to left, #4b0082, #9370db, #da70d6);
    color: #fff;
}

.theme-green {
    background: linear-gradient(to left, #228b22, #00fa9a, #98eb98);
    color: #fff;
}

.theme-brown {
    background: linear-gradient(to left, #7b3f00, #a0522d, #c3b091);
    color: #fff;
}

